/* write your CSS here */
h1 {color: green; }
p {color: blue; font-family: helvetica; font-size: 16px;}
ul li {background: yellow;}
h2 {background-color: orange; color: green;}
ol li {background-color: teal;}
